<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <title>{{title}}</title>
</head>
<header>
    <center><h32>Успешно! Можете выйти в главное меню или в вернуться в профиль.</h32></center>
    <br><table width="100%">
        <tr>
            <td><a class="btn btn-success" href="/glav"><h31>В главное меню</h31></a></td>
            <td><a class="btn btn-dark" href="/profil"><h31>В профиль</h31></a></td>
        </tr>
    </table>
</header>